* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.315rem;
}

.App {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

h1 {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #ffd400;
  z-index: 10;
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
  color: #0c4160;
}

.menu-wrapper {
  width: 19.5vw;
  background-color: #c3ceda;
}

.styled-table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
  font-weight: bold;
  color: #009879;
}
