* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.315rem;
}

.App {
  display: flex;
  flex-direction: row;
}

h1 {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #ffd400;
  z-index: 10;
  margin: 0;
  padding: 0;
}
